:root {
  --pst-color-link: 250, 95, 30;
}

div.navbar-brand-box a.navbar-brand img {
  height: 50%;
  width: 50%;
}

div.navbar-brand-box a.navbar-brand img {
  margin: 40px auto 40px auto;
}

main.bd-content #main-content img.align-center {
  margin: 40px auto 40px auto;
}

.highlight .c1 {
  color: #888888;
  font-style: italic;
}
